# Fichier de configuration pour l'OS de streaming Moonlight
# Placez ce fichier dans le même répertoire que le script d'installation.
# Remplissez les valeurs ci-dessous. Les guillemets sont importants pour les chaînes.

# Configuration de l'utilisateur de streaming
OS_USER_PASSWORD="pass"

# Configuration VPN WireGuard
# Ces clés doivent être générées au préalable sur votre serveur WireGuard.
WG_PRIVATE_KEY="WOTvP3/k+A3ZwkPHrvpC4WXyg6ZL3HOzILOmab3jG2U="
WG_PUBLIC_KEY_SERVER="meyhARHNVj8zzVETp+YjiBfbX9dTrjvYVWSP4/2Keko="
WG_ENDPOINT="88.178.88.69:30458" # Ex: vpn.example.com:51820
WG_CLIENT_IP="192.168.27.66/32"

# Configuration de streaming Moonlight
HOST_IP="192.168.1.103"

# Configuration Wake-on-LAN (WoL)
HOST_MAC="18:C0:4D:70:DB:72"
FREEBOX_IP="192.168.1.254"

#dont know what it does, but it interac with API
#curl -X POST "http://mafreebox.freebox.fr/api/v15/login/authorize/" ^
#  -H "Content-Type: application/json" ^
#  -d "{\"app_id\":\"wol_guillaume\",\"app_name\":\"WOL de Guillaume\",\"app_version\":\"1.0\",\"device_name\":\"Portail\"}"